beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
idna==2.7
numpy==1.15.4
oauthlib==2.1.0
PySocks==1.6.8
requests==2.20.1
requests-oauthlib==1.0.0
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
tweepy==3.6.0
urllib3==1.24.1
